*.pdf
*.dvi
*.log
*.aux
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.docx
*.bbl
*.bcf
*.blg
*.run.xml
__latexindent_temp.*
__latexindent_temp.*
__latexindent_temp.tex
__latexindent_temp.tex
*_temp.tex
.DS_Store
.auctex-auto
